html {
    scroll-behavior: smooth;
}

.footer {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(196, 137, 255);
}

.header {
    background: rgb(196, 113, 255);
    align-items: center;
    justify-content: center;
    font-family: monospace;
}

a {
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
    color: white;
}

a:hover {
    color: aquamarine;
}

.logo {
    color: rebeccapurple;
    font-size: 32px;
    font-weight: 900;
    font-style: italic;
}

p {
    display: flex;
    justify-content: center;
}