html {
    scroll-behavior: smooth;
}

.footer {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(196, 137, 255);
}

.header {
    background: rgb(196, 113, 255);
    align-items: center;
    justify-content: center;
    font-family: monospace;
}

a {
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
    color: white;
}

a:hover {
    color: aquamarine;
}

.logo {
    color: rebeccapurple;
    font-size: 32px;
    font-weight: 900;
    font-style: italic;
}

p {
    display: flex;
    justify-content: center;
}

.error {
    color: red;
    font-size: 0.8em;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 3rem;
    color: rgb(0, 0, 0);
    background: var(--primary);
}

input {
    padding: 10px 20px;
    border-radius: 10px;
}

.submit:hover {
    color: greenyellow;
}